{# templates/lucky/number.html.twig #}
{% extends "base.html.twig" %}
{% block body %}

	<h1>Your lucky number is
		{{ number }}</h1>
	<a class="btn btn-primary" href="#" role="button">Button</a>

{%endblock %}
